.banner{
    background-image: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em
}

.banner-titulo{
    font-size: 18px;
    font-weight: 700;

}

.banner-texto{
    font-weight: 500;
    margin: 1em 0;
}
.banner-pesquisa{
    border: 1px solid white;
    background-color: transparent;
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    background: url(../IMG/AluraBooks/Pesquisa.svg)no-repeat;
    background-position: 1em;
    text-align: center;
}

.banner-pesquisa::placeholder{
    color: var(--branco);
    text-align: center;

}