body{
    background-color: rgb(255, 255, 255);
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color:rgb(0, 89, 255);
    align-items: center;
}
.container{
    margin: 0px 20px;
    padding: 0.5em;
   
}

.lista-titulo{
    background-color: var(--branco);
    color: var(--laranja);
}
.menu-hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../IMG/AluraBooks/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.menu-lista{
    display: none;
    position:absolute;
    width: 60vw;
}
.menu-checkbox{
    display:none;
}

.menu-checkbox:checked ~ .menu-lista{
    display: block;
}
.lista-item{
    padding: 1em;
    background-color: rgb(47, 0, 255);
}
